/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.imgGallery {
  --gap: 35px;
  --num-cols: 7;
  --row-height: 375px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

#genDiv {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
}


.input100{
  font-family: SourceSansPro-Bold;
  font-size: 16px;
  color: #4b2354;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 62px;
  background: transparent;
  padding: 0 20px 0 23px;
}


.focus-input100 {

  display: block;

  position: absolute;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  pointer-events: none;

  border-radius: 20px;

  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);



  -webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

  transition: all 0.4s;

}

.input100:focus + .focus-input100 {

  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

}

.alert-validate .focus-input100 {

  box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -moz-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -webkit-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -o-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -ms-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

}








/*//////////////////////////////////////////////////////////////////

[ FONT ]*/



@font-face {

  font-family: SourceSansPro-Regular;

  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf'); 

}



@font-face {

  font-family: SourceSansPro-Bold;

  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.ttf'); 

}



@font-face {

  font-family: SourceSansPro-SemiBold;

  src: url('../fonts/source-sans-pro/SourceSansPro-SemiBold.ttf'); 

}



@font-face {

  font-family: JosefinSans-Bold;

  src: url('../fonts/JosefinSans/JosefinSans-Bold.ttf'); 

}



/*//////////////////////////////////////////////////////////////////

[ RESTYLE TAG ]*/



* {

	margin: 0px; 

	padding: 0px; 

	box-sizing: border-box;

}



body, html {

	height: 100%;

	font-family: SourceSansPro-Regular, sans-serif;

}



/*---------------------------------------------*/

a {

	font-family: SourceSansPro-Regular;

	font-size: 14px;

	line-height: 1.7;

	color: #666666;

	margin: 0px;

	transition: all 0.4s;

	-webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

}



a:focus {

	outline: none !important;

}



a:hover {

	text-decoration: none;

}



/*---------------------------------------------*/

h1,h2,h3,h4,h5,h6 {

	margin: 0px;

}



p {

	font-family: SourceSansPro-Regular;

	font-size: 14px;

	line-height: 1.7;

	color: #666666;

	margin: 0px;

}



ul, li {

	margin: 0px;

	list-style-type: none;

}





/*---------------------------------------------*/

input {

	outline: none;

	border: none;

}



textarea {

  outline: none;

  border: none;

}



textarea:focus, input:focus {

  border-color: transparent !important;

}



input::-webkit-input-placeholder { color: #4b2354;}

input:-moz-placeholder { color: #4b2354;}

input::-moz-placeholder { color: #4b2354;}

input:-ms-input-placeholder { color: #4b2354;}



textarea::-webkit-input-placeholder { color: #4b2354;}

textarea:-moz-placeholder { color: #4b2354;}

textarea::-moz-placeholder { color: #4b2354;}

textarea:-ms-input-placeholder { color: #4b2354;}



/*---------------------------------------------*/

button {

	outline: none !important;

	border: none;

	background: transparent;

}



button:hover {

	cursor: pointer;

}



iframe {

	border: none !important;

}







/*//////////////////////////////////////////////////////////////////

[ Utility ]*/

.txt1 {

  font-family: SourceSansPro-Regular;

  font-size: 16px;

  line-height: 1.4;

  color: #999999;

}



.txt2 {

  font-family: SourceSansPro-Regular;

  font-size: 16px;

  line-height: 1.4;

  color: #4b2354;

}



.hov1:hover {

  color: #4b2354;

  text-decoration: underline;

}





/*//////////////////////////////////////////////////////////////////

[ login ]*/



.container-login100 {

  width: 100%;  

  min-height: 100vh;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  align-items: center;

  padding: 15px;

  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;

  position: relative;

  z-index: 1;

}



/* .container-login100::before {

  content: "";

  display: block;

  position: absolute;

  z-index: -1;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  background: rgba(93,84,240,0.5);

  background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));

  background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));

  background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));

  background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));

  pointer-events: none;

} */



.wrap-login100 {

  width: 390px;

  background: #fff;

  border-radius: 10px;

  overflow: hidden;



  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);

}





/*==================================================================

[ Form ]*/



.login100-form {

  width: 100%;

}



.login100-form-title {

  display: block;

  font-family: SourceSansPro-Bold;

  font-size: 30px;

  color: #4b2354;

  line-height: 1.2;

  text-align: center;

}



/*------------------------------------------------------------------

[ Input ]*/



.wrap-input100 {

  width: 100%;

  position: relative;

  background-color: #fff;

  border-radius: 20px;

}



.input100 {

  font-family: SourceSansPro-Bold;

  font-size: 16px;

  color: #4b2354;

  line-height: 1.2;



  display: block;

  width: 100%;

  height: 62px;

  background: transparent;

  padding: 0 20px 0 23px;

}





/*------------------------------------------------------------------

[ Focus Input ]*/



.focus-input100 {

  display: block;

  position: absolute;

  width: 100%;

  height: 100%;

  top: 0;

  left: 0;

  pointer-events: none;

  border-radius: 20px;

  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);

  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);



  -webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

  transition: all 0.4s;

}



.input100:focus + .focus-input100 {

  box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -o-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

  -ms-box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);

}



/*------------------------------------------------------------------

[ Button ]*/

.container-login100-form-btn {

  width: 100%;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

}



.login100-form-btn {

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 0 20px;

  min-width: 160px;

  height: 50px;

  background-color: #11101d;

  border-radius: 25px;



  font-family: SourceSansPro-SemiBold;

  font-size: 14px;

  color: #fff;

  line-height: 1.2;

  text-transform: uppercase;



  -webkit-transition: all 0.4s;

  -o-transition: all 0.4s;

  -moz-transition: all 0.4s;

  transition: all 0.4s;
}
/*------------------------------------------------------------------

[ Alert validate ]*/



.validate-input {

  position: relative;

}



.alert-validate .focus-input100 {

  box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -moz-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -webkit-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -o-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

  -ms-box-shadow: 0 5px 30px 0px rgba(250, 66, 81, 0.1);

}



.alert-validate::before {

  content: attr(data-validate);

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  align-items: center;

  position: absolute;

  width: 100%;

  min-height: 62px;

  background-color: #fff;

  border-radius: 20px;

  top: 0px;

  left: 0px;

  padding: 0 45px 0 22px;

  pointer-events: none;



  font-family: SourceSansPro-Bold;

  font-size: 16px;

  color: #fa4251;

  line-height: 1.2;

}



.btn-hide-validate {

  font-family: Material-Design-Iconic-Font;

  font-size: 15px;

  color: #fa4251;

  cursor: pointer;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  align-items: center;

  justify-content: center;

  position: absolute;

  height: 62px;

  top: 0px;

  right: 23px;

}



.rs1-alert-validate.alert-validate::before {

  background-color: #fff;

}



.true-validate::after {

  content: "\f269";

  font-family: Material-Design-Iconic-Font;

  font-size: 15px;

  color: #57b846;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  align-items: center;

  justify-content: center;

  position: absolute;

  height: 62px;

  top: 0px;

  right: 23px;

}







/*//////////////////////////////////////////////////////////////////

[ Social item ]*/



.login100-social-item {

  font-size: 25px;

  color: #3b5998;



  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  justify-content: center;

  align-items: center;

  width: 50px;

  height: 50px;

  border-radius: 50%;

  background-color: #fff;

  margin: 5px;

  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);

  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);

  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);

  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);

  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);

}



.login100-social-item img {

  width: 26px;

}



.login100-social-item:hover {

  color: #3b5998;

  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);

  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);

  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);

}



/*//////////////////////////////////////////////////////////////////

[ Responsive ]*/



@media (max-width: 480px) {

  .wrap-login100 {

    padding-left: 15px;

    padding-right: 15px;

  }

}